{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
  },
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "plugins": [
    "flowtype",
    "import"
  ],
  "extends": ["eslint:recommended"],
  "rules": {
    "comma-dangle": [2, "always-multiline"],
    "quotes": [2, "single", { "allowTemplateLiterals": true }],
    "new-cap": 0,
    "no-class-assign": 1,
    "no-console": 1,
    "object-curly-spacing": [1, "always"],
    "flowtype/define-flow-type": 1,
    "flowtype/use-flow-type": 1,
    "import/first": 2

  }
}